<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue sur orgi-damie!</h1>
<p>
  You have successfully signed up to orgie-damie.com,
  your username is: NICOLAS.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @user.email %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
