@font-face {
  font-family: 'Quantify';
  src: url("../../../app/assets/fonts/transfonter.org-20220317-110815/Quantify.eot") format("eot");
  src: url("../../../app/assets/fonts/transfonter.org-20220317-110815/Quantify.svg") format("svg");
  src: url("../../../app/assets/fonts/transfonter.org-20220317-110815/Quantify.woff") format("woff");
  font-family: 'Quicksand', sans-serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Fredoka', sans-serif;
}

* ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  margin: 0 auto;
  font-family: "Quantify";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.totalBG {
  position: absolute;
  z-index: -8;
  top: 0;
  width: 101%;
  height: 1305%;
  background-color: #FFFEF0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff5ef'/%3E%3Cstop offset='1' stop-color='%23fff5ef' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff2f5'/%3E%3Cstop offset='1' stop-color='%23fff2f5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff0fc'/%3E%3Cstop offset='1' stop-color='%23fff0fc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFEF0'/%3E%3Cstop offset='1' stop-color='%23FFFEF0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFEDEF'/%3E%3Cstop offset='1' stop-color='%23FFEDEF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F9F3FF'/%3E%3Cstop offset='1' stop-color='%23F9F3FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.responsive-nav {
  display: none;
}

// TEST ANIMATION BACKGROUND WAVES

// .responsive-waves {
//   animation: growth 3s ease-in-out infinite;
// }

// @keyframes growth {
//   10% {
//     transform: scale(2);
//   }
//   50% {
//     transform: scale(1.5);
//   }
//   90% {
//     transform: scale(1.03);
//   }
// }

.intro-waves {
  position:absolute; z-index:1; top: 30%; width: 500px; height: 500px;
}

.defiling-container {
  max-width: 100%;
  margin: 1em auto 2em;
  overflow: hidden;
  position: absolute;
  color: #666;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;      /* masque tout ce qui dépasse */
}


@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

@keyframes blink {
  0% { 
    color: rgb(255, 255, 255); 
  }
  5% { 
    color: rgb(255, 0, 106); 
    transform: scale(1.02);
  }
  10% { 
    color: rgb(255, 255, 255); 
    transform: scale(1.0);
  }
  44% { 
    color: rgb(255, 255, 255); 
  }
  50% { 
    color: rgb(255, 0, 106); 
  }
  56% { 
    color: rgb(255, 255, 255); 
  }
  84% { 
    color: rgb(255, 255, 255); 
  }
  90% { 
    color: rgb(255, 0, 106); 
  }
  96% { 
    color: rgb(255, 255, 255); 
  }
}

.button-form {
  background-color: rgb(0, 4, 255);
  font-family: 'Fredoka';
  color: white;
  font-size: 0.8em;
  padding-top: 0.8em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.8em;
  border-radius: 5px;
  border: solid 3px rgb(0, 4, 255);
}

.checkbox-container {
  margin-top: -1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.checkbox {
  transform: scale(1.5);
  background-color: #f1f1f1;
}

.form-group {
  display:flex;
  max-width: 60%;
  background-color: #ffffff; 
  padding: 1em; 
  font-size: 1.3em; 
  margin: 0 auto; 
  justify-content: center; 
  flex-direction: column; 
  color: black; 
  font-family: 'Fredoka';
  box-shadow: 3px 3px 12px 2px rgb(236, 236, 236);
  border-radius: 12px;
}

.form-group .submit:hover {
transform: scale(1.1);
transition: 0.2s;
}

.form-group-news {
  max-width: 60%;
  background-color: #ffffff; 
  padding: 1em; 
  font-size: 1.3em; 
  margin: 0 auto; 
  justify-content: center; 
  flex-direction: column; 
  color: black; 
  font-family: 'Fredoka';
  box-shadow: 3px 3px 12px 2px rgb(236, 236, 236);
  border-radius: 12px;
}

.strong3 {
  text-shadow: 5px 6px 1.5px #222222;
}

.strong3:active {
  animation: blink 1s linear infinite;
}


.waves2 {
  enable-background:new 0 0 1300 350;
  max-width:100%;
  position:absolute;
  bottom:-5000;
  z-index: -1;
}

.waves1 {
  enable-background:new 0 0 1300 350;
  max-width:100%;
  position:absolute;
  z-index: -1;
  transform:rotate(180deg);
  top: 0;
}

.responsive-text {
  display: none;
}

/* TEST */

.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #AFAFAF;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  position: absolute;
  top: -1.8em;
  left: 0;
}

.footer {
  margin-bottom: -1em;
  background-image: url('../../assets/images/SVG/waves.svg');
  background-position: center;
  background-size: 100%;
  font-family: "Fredoka";
  font-size: 1.3em;
  font-weight: 300;
  color: white;
}

.footer-button {
  padding: 0.3em;
  border-radius: 8px;
  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}

.footer-img {
  width:70px;
  &:hover {
    transform:scale(1.1);
    transition: 0.2s;
  }
}

.card {
  display: flex;
  justify-content: center;
  margin:  0 auto;
margin-top: 8em;
border: 2px solid rgb(255, 196, 86);
max-width: fit-content;
border-radius: 20px;
}
.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/* TEST */

.text {
  font-size: 1.5em;
  color: black;
  font-weight: 400;
  font-family: 'Quantify';
}

.head:hover {
  animation: loop 0.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes loop {
  50% {transform: scale(1.2);}
}

.button:hover {
  transform:scale(1.1);
  transition: 0.2s;
}

.mockup2 {
  max-width: 550px;
  animation: MoveUpDown 3s linear infinite;
  animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  20%, 40%, 60%, 85% {
    transform: translate3d(3px, -15px, 0);
    transform: rotate(3deg);
  }

  5%, 50%, 95% {
    transform: rotate(-3deg);
    transform: translate3d(0, 15px, 10px);
  }
}

nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  color: black;
  font-size: 1.5em;
}

nav ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 20px;
  margin-top: -0.2em;
}

nav ul li.button {
  padding-right: 20px;
  padding-left: 20px;
}

.desktop-waves {
  display: block;
}

.random-container-yt {
  max-width: 80%;
  height: 450px;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  font-family: 'Fredoka';
  text-shadow: 4px 4px 1px rgb(231, 231, 231);
  box-shadow: 5px 5px 20px 1px #dadada;
  background-image: url('../../assets/images/vlog-miniature.png');
  object-fit: contain;
  background-size: cover;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  flex-direction: row;
  align-items: center;
  margin:0 auto;
  padding-left: 2em;
  padding-right: 2em;
  border-radius:15px;
}

.random-container-yt:hover {
  transform: scale(1.04);
  transition: 0.3s;
  box-shadow: 0px 0px 6px 1px #e4e4e4;
}

.img-container {
  font-family: "Quantify";
  font-size: 2.2em;
  color: black;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0em;
}
.random-container {
  display:flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.first-container {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.5em;
  font-weight: larger;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraphe {
  font-family: "Quicksand";
  margin: 0 auto;
  color: black;
  font-size: 1.3em;
  text-align: center;
  max-width: 80%;
  font-weight: bold;
}

.underlined-text {
  font-size: 2.6em;
}

.list li {
  font-family: "Fredoka";
}

.list h2 {
  font-family: "Quantify";
}

.list h3 {
  font-family: "Fredoka";
}

.desktop-text2 {
  display: none;
}

.second-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.between-container {
  max-width: 80%;
  margin-top: 3em;
  font-size: 1.3em;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: center;
}

// TITLE COVER //

.third-container {
  margin-bottom: 2em;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.underlined-text {
  -webkit-margin-bottom-collapse: 1em;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background:white;
  color:black;
  padding-bottom:4px;
  width: 80%;
}

.underlined-text:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin-bottom: -3px; /* !importanté */
  background: linear-gradient(0.25turn, rgba(255,249,34), rgb(0, 255, 221), rgb(0, 162, 255));
}

.underlined-text2 {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background:white;
  color:black;
  padding-bottom:4px;
  width: 80%;
}

.underlined-text2:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin-bottom: -3px; /* !importanté */
  background: linear-gradient(0.25turn, rgb(255, 187, 0), rgb(0, 255, 200), rgb(0, 162, 255));
}

.underlined-text3 {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background:white;
  color:black;
  padding-bottom:4px;
  width: 80%;
}

.underlined-text3:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin-bottom: -3px; /* !importanté */
  background: linear-gradient(0.25turn, rgb(255, 187, 0), rgb(0, 255, 200), rgb(0, 162, 255));
}

.newsletter-button:hover {
transform:scale(1.1);
transition: 0.2s;
}

.beta-button:hover {
  transform:scale(1.1);
  transition: 0.2s;
  }

.newsletter-button.first{
  text-decoration: none; 
  color: white; 
  background-color:rgb(255, 153, 0); 
  padding: 0.1em; 
  padding-right: 0.3em; 
  padding-left: 0.3em; 
  border-radius: 10px; 
  box-shadow: 3px 3px 2px 2px #f1f1f1; 
  font-family: 'Quantify'; 
  max-width: fit-content;
  text-align: center;
  font-size: 2.4em;
}

.beta-button {
  text-decoration: none; 
  color: white; 
  background-color:rgb(255, 94, 0);
  padding: 0.1em; 
  padding-right: 0.3em; 
  padding-left: 0.3em; 
  border-radius: 10px; 
  box-shadow: 3px 3px 2px 2px #f1f1f1; 
  font-family: 'Quantify';   
  max-width: fit-content;
  text-align: center;
  font-size: 2.4em;
}

.title-text {
  max-width: 90%;
  font-size: 3.4em;
  color:#131313;
}

.under-line {
    background-image: linear-gradient(to right, #ff85aa 0%, #f3f259 100%);
    background-repeat: repeat-x; 
    background-position: 0 100%; 
    background-size: 100% 10px; 
    border-radius: 15%;
}

.fifth-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin:0 auto;
}

.sixth-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-relative-container {
  position: relative;
}

.img-container-head  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-right: 3em;
  &:hover { 
    transform: scale(1.1);
    transition-duration: 0.2s;
  }
}

.content-text {
  padding: 0.3em;
  max-width: 80%;
  margin:0 auto;
  color: black;
  font-size: 1.8em;
  font-family: 'Fredoka';
  margin-top: 1em;
}

.responsive-waves {
  display: none;
}

.spinning-mockup {
  animation: MoveUpDown 3s linear infinite;
  animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.footer-list {
  list-style-type: none; 
  display: flex; 
  justify-content: space-evenly; 
  margin-left: 0.5em; 
  margin: 0 auto; 
  margin-bottom: 2em; 
  align-items: flex-end;
}

.absolute-bg-inside {
  background-position: 0 0;
  background-repeat: no-repeat;

  /* Fallback */
  background-image: url('../../assets/images/SVG/desktopWAVESfinalFichier\ 75.svg');
}


/* RESPONSIVE */


@media only screen and (max-width: 700px){
  /*Tablets [601px -> 1200px]*/
  html, body {
    overflow-x: hidden;
  }

  h1, h2, h3, h4 {
    letter-spacing: -1px;
  }

  #Dev {
    font-size: 2em;
  }
  /* FULL NAV */
  .random-container-yt {
    height: 300px;
  }

  .responsive-nav {
    display: none;
    position: absolute;
    z-index: 15000;
    top: 10%;
    left: 0;
  }

  .title-text {
    font-size:2.4em;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }

  .footer-list {
    align-items: center;
    color:black;
    flex-direction: column;
    background-image: url('../../assets/images/SVG/3ballsFichier\ 68');
    background-size: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,216,65,1) 6%, rgba(255,143,189,1) 94%, rgba(255,255,255,1) 100%);
    margin-bottom: -0.4em;
  }

  /* MENU A DISPLAY */

  .responsive-waves {
    display: block;
  }

  .responsive-menu {
    display: none;
    position: absolute;
    padding-top: 3px;
    transform: scaleY(O);
    transform-origin: top;
    transition: 0.3s;
    list-style-type:none;
    border-radius: 10px;
    margin-top: 35px;
    background-color: #fff;
  }

  .form-group {
    max-width: 70%;
  }

  .underlined-text {
    font-size: 2.1em;
  }

  .newlist {
    display: inline-block;
    transform: scaleY(1);
  }

  .menu-path,.button {
    transition: 0.3s;
    transition-duration: 0.5s;
    transition-property: all 1s;
  }

  .button {
    padding-right: 0.3em;
    margin-left: -1em;
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0.1em;
    width: 230px;
    border-radius: 5px;
    background-color: rgb(81, 191, 255);
    font-size: 1.3em;
  }

  .desktop-text {
    position: absolute;
    color:rgb(0, 0, 0);
    font-size: 1.8em;
    z-index: 2;
    top: 18%;
    left: 15%;
    color:rgb(0, 0, 0);
  }

  .strong3 {
    display: none;
  }

  .desktop-waves {
    display: none;
  }

  .desktop-text2 {
    position: absolute;
    top: 15%;
    left:10%;
    display: block;
    color: white;
    z-index: 3;
  }

  .strong2 {
    line-height: 1;
  }

  .strong {
    font-size: 1.4em;
    color:white;
    text-shadow: 5px 5px 1px #233853;
    margin-top: -0.8em;
  }

  .mockup2{
    max-width: 350px;;
    min-width: 250px;
    order: 1;
    margin-top: 6.6em;
  }

  .fonctionnement {
    margin-top: 1em;
  }

  .content-text {
    max-width: 90%;
    margin:0 auto;
    color: black;
    font-size: 1.5em;
    font-family: 'Fredoka';
    margin-top: 1em;
  }

  nav ul li {
    color: black !important;
  }

  .card {
  margin-top: 1em;
  max-width: 80%;
  }

  .logo {
    margin-right: 0em;
    margin-top:0.4em;
  }

  .first-container {
    flex-direction: column;
  }

  .flying-paper {
    display: none;
  }

  .waves1 {
    height: 100%;
    top: -175px;
  }

  .text-container {
    margin-top: -2em;
  }

  .waves2 {
    display: none;
  }

  nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.3em;
    align-items: center;
    color: black;

  }

  .text-container {
    font-size: 0.8em;
  }

  nav li {
    color: black;
    padding-top: 10px;
  }

  .img-container {
    flex-direction: column;
  }

  .responsive-text {
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }

  .intro-waves{
    position: absolute;
    top: 0;
  padding: 0;
  }

  .second-container {
    max-width: 98%;
    flex-direction: column;
  }

  .phone {
    max-width: 300px;
    margin-top: 2em;
  }

  .second-container h3 {
    text-align: center;
  }


  .third-container {
    flex-direction: column;
  }

  .fourth-container {
    flex-direction: column;
  }

  .phone-msg {
    order: 2;
  }

  nav ul li.button {
    display: none;
  }

  nav ul li.logo:active + nav ul li.button {
    display: block;
  }

  .fifth-container {
    flex-direction: column;
  }

  .list li {
    max-width: 80%;
    margin: 1em auto;
  }

  .img-container-head {
    margin-top: 2em;
    flex-direction: column;
  }

  #rencontre {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .menu-path:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  .astronomie {
    order: 4;
  }

  .newsletter-button.first{
    font-size: 1.8em;
  }

  .beta-button.second {
    font-size:1.8em;
  }
}

@media only screen and (max-width: 350px){
  /*Tablets [601px -> 1200px]*/
  html, body {
    max-width: 100%;
    overflow: auto;
    overflow-x: hidden;
  }

  h1, h2, h3, h4 {
    letter-spacing: -1px;
  }

  #Dev {
    font-size: 1.7em;
  }

  #responsive-partie{
    margin:0 auto;
    color: black;
    font-size: 1.5em;
    font-family: 'Fredoka';
    padding:0.4em;
  }

  .underlined-text {
    margin-left: -2em;
  }

  .responsive-text {
    display: none;
  }

  .desktop-text {
    position: absolute;
    font-size: 1.5em;
    z-index: 2;
    top: 15%;
    right: 0;
  }

  .mockup2{
    max-width: 290px;;
    min-width: 250px;
    order: 1;
    margin-top: 4.5em;
    margin-left:0.5em;
    opacity: 1;
  }

  .strong2 {
    line-height: 1;
    margin-left: -0.3em;
  }

  .strong {
    font-size: 1.4em;
    color:white;
    text-shadow: 5px 5px 1px #233853;
    margin-top: -0.8em;
    margin-left: -0.3em;
  }

  .waves1 {
    height: 100%;
    top: -168px;
  }

  h2.underlined-text {
    font-size: 1.8em;  
  }

  .phone {
    max-width: 280px;
    margin-top: 2em;
  }

}
